<div class="Signin">
	<div class="Signin-headline">
		<h2>Always Be Connected<br/> Even Without Internet</h2>
	</div>
	<div class="Signin-form">
		<form name="signin" ng-submit="submitForm()" novalidate>
			<div class="inner-addon left-addon">
			    <i class="glyphicon glyphicon-user"></i>
			    <input type="text" name="name" placeholder="Name">
			</div>
			<div class="inner-addon left-addon">
		    <i class="glyphicon glyphicon-phone-alt"></i>
				<input type="text" name="phone number" placeholder="Phone Number">
				<button class="customBtn" type="submit">Create an Event</button>
			</div>
		</form>
	</div>
</div>