.Admin {
	background-color:$PBdefault;
	width: 100%;
	height: 100%;
	.logo {
		padding-top:10%;
		margin:0 auto;
		position: relative;
		max-width: 200px;
		img {
			width:100%;			
			position: relative;
		}
		h2 {
			text-align: center;
			color: $White;
		}
	}
	&-section {
		background-color: $Default;
		color: $Black;
		padding: 12px 0;
		text-transform: uppercase;
		text-align: center;
		font-size: $Subheadline;
		.glyphicon-plus {
			color: $Black;
		}
	}
	form {
		span {
			color: $White;
			cursor: pointer;
			font-size:$Small;
			display: block;
			text-transform: uppercase;
			text-align: center;
			span.glyphicon {
				display: inline-block;
			}
		}
	}
	.uploadImg{
		margin-bottom:10px;
		background: none;
		width:103px;
		color:white;
		border:1px solid $Default;
	}
	textarea, input[type="text"],[type="time"] {
		width: 250px;
	}
	&-top {
		margin-top:0;
	}

	&-session {
		li {
			background-color: #40403F;
			border-left: 2px solid $MagentaPink;
			border-top: 1px solid rgba(0,0,0,0.4);
			padding: 15px 5px 15px 10px;
			box-shadow: inset 0 -8px 33px -15px rgba(0,0,0,0.5);
			position: relative;
			h2 {
				font-size: $Subheadline;
				color: $Default;
				margin: 0;
			}
		}
		img {
			display: inline-block;
		}
		div {
			display: inline-block;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			padding-left: 10px;
		}
		span, a {
			color: $Default;
		}
	}
	.presenter {
		font-size: $Small;
		display: block;
		color: $Blue;
		margin-top: 1em;
	}
}