.Event {
	&-section {
		background-color: $Default;
		color: $Black;
		padding: 12px 0;
		text-transform: uppercase;
		text-align: center;
		font-size: $Subheadline;
		// margin: 1em 0;
		position: relative;
	}
	a {
		color: $White;
	}
	ul {

	}
}