.Event {
	&-section {
		background-color: $White;
		color: $Black;
		padding: 12px 0;
		text-transform: uppercase;
		text-align: center;
		font-size: $Subheadline;
		// margin: 1em 0;
		position: relative;
	}
	&-session {
		li {
			background-color: #40403F;
			cursor: pointer;
			// border-bottom: 1px solid $Default;
			border-left: 2px solid $PBdefault;
			border-top: 1px solid rgba(0,0,0,0.4);
			padding: 15px 5px 15px 10px;
			// margin-bottom: 5px;
			box-shadow: inset 0 -8px 33px -15px rgba(0,0,0,0.5);
			position: relative;
			h2 {
				font-size: $Subheadline;
				color: $Default;
				margin: 0;
			}
			span.presenter {
				font-size: $Small;
				display: block;
				color: $Blue;
				margin-top: 1em;
			}
			span {
				color: $Default;
			}
		}
	}
}