input[type="text"] {
	background-color: $Transparent;
	color: #C0BFBE;
	cursor: text;
	margin: .5em auto;
	/*padding: 10px 40px;*/
	width: 194px;
	height: 30px;
	border: 1px solid;
	outline: none;
	display: block;
}

.inner-addon {
	position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
// .left-addon input  { padding-left:  30px; }
// .right-addon input { padding-right: 30px; }

.customBtn {
	display: block;
	margin: .5em 0;
	width: 198px;
	height: 40px;
	margin: 0 auto;
	background: transparent;
	border: 1px solid $Default;
	color: $Default;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.customBtn:hover {
	background: $Default;
	color: $Black;
}