input[type="text"],[type="time"], [type="password"], textarea {
	background-color: $White;
	color: $Black;
	cursor: text;
	margin: 1.25em auto;
	padding: 10px;
	width: 194px;
	height: 30px;
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: none;
	display: block;
}

textarea {
	height: 180px;
	resize: none;
}

.inner-addon {
	position: relative;
	width: 247px;
	margin: 0 auto;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: $Default;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 20px;}

/* add padding  */
.left-addon input  { padding-left: 50px; }
.right-addon input  { padding-right: 0px; }

.customBtn {
	display: block;
	height: 40px;
	margin: 10px auto 20px auto;
	background: $White;
	border: 1px solid $White;
	color: $PBdefault;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 207px;
	&-index {
		width: 247px;
	}
}

.customBtn-reverse {
	display: block;
	height: 40px;
	margin: 0 auto;
    margin-top: 10px;
	background: transparent;
	border: 1px solid $PBdefault;
	color: $White;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease;
	width: 207px;
	&-index {
		width: 247px;
	}
}

.customBtn-reverse:hover {
	background: $Default;
	color: $Black;
}

.fileDesc{
  font-size:$Small;
  color:$White;
  margin: 0.5em 0;
  text-align: center;

}

.filePreview{
  display: block;
  margin: 0 auto;
  border: 1px solid $Black;
}
.errorMsg{
  color:$NeonRed;
  font-size:1.2em;
}
// .uploadFile{
//   display: block;
//   margin: 0 auto;
//   width:200px;
//   height: 200px;
// }
.customBtn:hover {

	background: transparent;
	color: $Default;
}

button {
	text-transform: uppercase;
}
