.Nav {
	&-title {
		color: white;
		font-family: $Lato;
		text-transform: uppercase;
		text-align: center;
		font-size: $Headline;
		/*line-height: 24px;*/
		padding: .5em 0;
			.glyphicon {
				font-size:20px;
				/*float:right;*/
				position:relative;
				/*top: 0;*/
			}
	}
}