.Session {
	&-headline {
		text-align: center;
		h2 {
			color: $Default;
			display: inline-block;
			margin: 0.67em 0 .2em 0;
		}
		.presenter {
			font-size: $Small;
			display: block;
			color: $Blue;
			line-height:2em;
		}
	}
}