/* signup */
.Signup {
  margin: 0 1em;
  position: relative;
  &-headline {
    h2 {
      font-size: $Subheadline;
      color: $Default;
      font-family: $Lato;
      text-align: center;
      line-height: 2em;
    }
  }
  &-form {
    text-align:center;
    font-family: $Lato;
  }
  p {
    color: $Default;
    font-size: $Small;
  }
  a {
    color: $White;
    text-decoration: underline;
  }
}