.Signin {
	margin: 1em;
	position: relative;
	&-svg {
		text-align: center;
		height: 185px;
	}
	&-headline {
		h2 {
			font-size: $Headline;
			color: $Default;
			font-family: 'oswald', sans-serif;
			text-align: center;
			line-height: 2em;
		}
	}
	&-form {
		text-align: center;
		font-family: 'oswald', sans-serif;
	}
}