<section class="Admin">
	<div class="Admin-section Admin-top">
		View Sessions
	</div>
	<ul class="Admin-session">
		<li ng-repeat='session in sessions'>
			<h2>{{session.name}}</h2>
			<span class="presenter">{{session.presenter}}</span>
		</li>
	</ul>
	<div class="Admin-section">
		Create a Session
	</div>
	<form ng-submit='submitSession(session)'>
		<input type='text' ng-model='session.name' placeholder='Name'/>
		<input type='text' ng-model='session.presenter' placeholder='Presenter'/>
		<input type='text' ng-model='session.desc' placeholder='Description'/>
		<button type='submit' class="customBtn">Add a session</button>
	</form>
</section>