<div class="Chat">
    <div class="Chat-headline">
        <div class="presenter">Feel free to ask questions and talk to your friends.<br/>Please remember to be respectful and considerate.</div>
    </div>

    <div class="Chat-section" ng-show="!user">
        Join Us
    </div>

    <div class='chat-toolbar' ng-show="!user">
        <form ng-submit="authAnonUser(username)">
            <input type='text' ng-model ='username' placeholder='enter a username...'>
            <button class="customBtn" type="submit">Join</button>
        </form>
    </div>

    <form ng-show="user" ng-show="authAnonUser" ng-submit ="addMessage()">
        <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-send"></i>
            <input type="text" ng-model="newMessageText" />
            <button class="customBtn" type="submit">Send</button>
        </div>
    </form>

    <span class="warning" ng-show="error">Join chat to vote ¯\(°_o)/¯</span>

    <div class="Chat-section" ng-show="user">
        Let's Chat
    </div>
    
    <ul class="Chat-room">
        <li ng-repeat="message in messages">
            <span class="warning" ng-show="message.votes[user.auth.uid] > 0"> Sorry you can only vote once (&gt;_&lt;)</span>
            <div class="upvote">
                <span class="glyphicon glyphicon-triangle-top" ng-click="upVote($index, message)"></span>
                <span class="vote">{{message.votecount}}</span>
                <span class="vote" ng-show="!message.votecount">0</span>
            </div>
            <span class="user">{{message.name}}
                <span class="time">{{formatTime(message.time)}}</span>
            </span>
            <span class="message">{{message.text}}</span>

            <button class="deleteBtn" ng-click="messages.$remove(message)"><span class="glyphicon glyphicon-remove"></span></button>

        </li>
    </ul>
</div>