<h2>Welcome to Session Chat</h2>

<div ng-show="!user" class='chat-toolbar'>
    <form ng-submit="authAnonUser(username)">
        <label for="nameInput">Username:</label>
        <input type='text' ng-model ='username' placeholder='enter a username...'>
        <button type="submit">Join</button>
    </form>
</div>

<div ng-show="error">Join chat to vote ¯\(°_o)/¯</div>

<li ng-repeat="message in messages">

    <div ng-show="message.votes[user.auth.uid] > 0"> Sorry you can only vote once (>_<)</div>

    <div ng-click="upVote($index, message)">{{message.text}}</div>

    {{message.name}}
    {{formatTime(message.time)}}
    {{message.votecount}}

    <button ng-click="messages.$remove(message)">Delete</button>

</li>
<form ng-show="user" ng-show="authAnonUser"  ng-submit ="addMessage()">
    <input ng-model ="newMessageText" />
    <button type="submit">Send</button>
</form>
