// body {
// 	// background-color: #414850;
// 	background: -webkit-linear-gradient(90deg, #40403F 10%, #2D2D2D 90%); /* Chrome 10+, Saf5.1+ */
// 	background:    -moz-linear-gradient(90deg, #40403F 10%, #2D2D2D 90%); /* FF3.6+ */
// 	background:     -ms-linear-gradient(90deg, #40403F 10%, #2D2D2D 90%); /* IE10 */
// 	background:      -o-linear-gradient(90deg, #40403F 10%, #2D2D2D 90%); /* Opera 11.10+ */
// 	background:         linear-gradient(90deg, #40403F 10%, #2D2D2D 90%); /* W3C */
// 	color: $Default;
// }

body{
	background-color: #40403F;
	background-image: -ms-radial-gradient(center, ellipse cover, #40403F 0%, #2D2D2D 100%);
	background-image: -moz-radial-gradient(center, ellipse cover, #40403F 0%, #2D2D2D 100%);
	background-image: -o-radial-gradient(center, ellipse cover, #40403F 0%, #2D2D2D 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 140, color-stop(0, #40403F), color-stop(1, #2D2D2D));
	background-image: -webkit-radial-gradient(center, ellipse cover, #40403F 0%, #2D2D2D 100%);
	background-image: radial-gradient(ellipse cover at center, #40403F 0%, #2D2D2D 100%);
}

a {
	text-decoration: none;
}

ul, menu, dir {
	padding: 0;
	margin: 0;
}

.right {
	right: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}