// COLORS
$Black: #000000;

// SIZE
$Headline: 24px;
$Content: 20px;

// FONTS
$Hind: 'Hind', Arial, Helvetica, sans-serif;
$Archivo: 'Archivo Narrow', Arial, Helvetica, sans-serif;
$Lato: 'Lato', Arial, Helvetica, sans-serif;