// COLORS
$Black: #000000;
$White: #FFFFFF;
$Default: #C0BFBE;
$LightGrey: #C0BFBE;
$Transparent: transparent;
$Blue: #5A82A5;
$NeonLightBlue: #00ffff;
$NeonOrange: #FF3300;
$NeonPink: #ff00ff;
$NeonGreen: #00ff00;
$NeonYellow: #ffff00;
$NeonRed: #ff0000;
$NeonDarkBlue: #0000ff;
$NeonPurple: #7920FF;
$MagentaPink: rgb(63, 73, 255);
$PBdefault: rgb(63, 73, 255);

// SIZE
$Headline: 28px;
$Subheadline: 16px;
$Small: 13px;

// FONTS
$Hind: 'Hind', Arial, Helvetica, sans-serif;
$Archivo: 'Archivo Narrow', Arial, Helvetica, sans-serif;
$Lato: 'Lato', Arial, Helvetica, sans-serif;